.message-box {
    display: none;
    position: fixed;
    top: 30%;
    left: 45%;
    background: #fff;
    width: 275px;
    height: 245px;
    margin-left: 0px;
    margin-top: -200px;
    z-index: 200;
}

.comment-content
{
  margin: 28px;
}

.comment-content > p
{

}

.ui-button-text
{font-size:10px;}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    width: 50px;
    height: 30px;
}
.hide{display:none;}
.comment-box-button{font-size:12px;
position:absolute;
margin-left: -20px}
.message-box{font-size:16px;}
.message-box p{font-size:12px;}
.message-box textarea{font-size:12px;}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}