
.panel-group{
width:1850px;

}

.panel-heading{
margin-right:-21px;
}

.panel-heading{
text-align:center;
font-size:30px;

}

.form-control6{
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
	margin-left:-34px;
    color: #555;
    background-color:#fbfbfb;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control7{
    display: block;
    width: 160px;
    height: 34px;
    padding: 6px 12px;
	margin-left:-32px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fbfbfb;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control8{
    display: block;
    width:286.484px;
    height: 34px;
    padding: 6px 12px;
	margin-left:-32px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color:#fbfbfb;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#button1{
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
    margin: 15px;
    width: 100px;
    color: white;
    font-size: 18px;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#button2{
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
	margin-top:6px;
    width: 75px;
    color: white;
    font-size: 18px;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.font-align{
margin-top:6px;
}

#head-server-grp1{
width:1760px;
border-color:darkgray;
}
#head-server-grp2{
      width: 424px;
    border-color: darkgray;
    margin-top: -19px;
    margin-left: -22px;
}

#inner-panel{
font-size:15px;
background-color:darkgray;

}
#inner-panel1{
font-size:15px;
background-color:darkgray;
margin-right:0px;
}
#pbody-outer{
padding-left:0px;
margin-top:5px;
}
#head-server-details{
border-color:darkgray;
}
#head-server-details1{
border-color:darkgray;
    margin-top: 20px;
}
#head-server-details2 {
    border-color: darkgray;
   
    width: 1707px;
}
.panel-inner{
padding-top:0px;
}
#col_sm_8_ID{
    padding-left: 0px;
    margin-left: 14px;
}


.location{
margin-left:-3px;
}

#outer-panel1{
    background-color: #575757;
    font-size: 20px;
    margin-right: -1px;
}
#head-server-outer{
    margin-left: 92px;
    width: 1699px;
    border-bottom-color: black;
	}
#head-server-outer2{
    margin-left: 92px;
    width: 1699px;
    border-bottom-color: black;
	}
#head-server-outer1{
    margin-left: 77px;
    width: 1751px;
    border-bottom-color: black;;
	}


#location{
margin-left:-12px;
}
.panel-color {
    /* color: rgb(112, 112, 112); */
    background-color: rgb(112, 112, 112);
    border-color: #337ab7;
}
#report{
    margin-left: 144px;
}
#label1{
       margin-left: 206px;
    padding-left: 1px;
    margin-right: -6px;
}

.label2{
margin-left:40px;
}

#label3{
margin-left:15px;
}
#label4{
margin-left:16px;
}
#label5{
padding-left:60px;
margin-left:67px;

}
#panel_spacing{
width:63px;
}
#label6{
padding-left:0px;
}

#label7{
padding-left:0px;
margin-left:116px;
}

#text-area{
margin-left:-20px;
    width: 257px;
    margin-left: -12px;
	background-color:rgb(251, 251, 251);
    border: 1px solid #ccc;
}
#text-area1{
    margin-left: -20px;
    width: 257px;
background-color:rgb(251, 251, 251);

border-bottom-color:rgb(204, 204, 204);
}

#label8{
padding-left:152px;
}


#label9{
        margin-left: 104px;
    padding-right: 0px;
    padding-left: 50px;
    margin-right: -8px;
}
#label10{
       margin-left: 90px;
    padding-right: 0px;
    padding-left: 110px;
    margin-right: -14px;
}

#textb1{
margin-left:-8px;
}

#label11{
padding-right: 17px;
padding-left: 56px;
}

#label12{
margin-left:27px;
}
#label13{
       padding-left: 25px;
    padding-right: 2px;
    margin-left: 62px;
    margin-right: -26px;
}
#label14{
padding-left:78px;
}
#label15{
       padding-left: 22px;
    margin-left: 73px;
    margin-right: -18px;
}
.div-margin{
    margin-left: 67px;
}
#navbar-center{
float:left;
}

#label18{
padding-left:60px;
margin-left:67px;

}
#label19{
padding-left:60px;
margin-left:67px;

}
#label20{    
margin-left: 23px;
padding-right: 0px;
padding-left: 9px;
}
#label21{    
        padding-left: 10px;
    margin-left: 63px;
    margin-right: -14px;
}
#label22{    
      margin-left: 175px;
    padding-left: 0px;
    margin-right: 10px;
}
#label23{    
      margin-left: 73px;
}
#label24{    
          margin-right: -5px;
    margin-left: 120px;
    width: 84px;
}
#label25{    
    margin-left: 42px;
	    padding-right: 5px;
	padding-left: 1px;
}
#label26{    
    margin-left: 163px;
    margin-right: -21px;
    width: 134px;
	}
#label26_1{    
    margin-left: -115px;
    margin-right: -21px;
    width: 134px;
	}
#label27{    
    margin-left: 335px;
    margin-right: 2px;
    width: 119px;
	}
#label27{    
    margin-left: 258px;
    margin-right: 2px;
    width: 119px;
	}
#label28{  
    width: 192px;
    margin-left: 10px;
	    padding-left: 60px;
	}
#label29{  
        margin-right: -28px;
    margin-left: 43px;
    width: 98px;
	}
#label30{
         margin-left: 67px;
    padding-right: 0px;
    padding-left: 110px;
    width: 201px;
    margin-right: -8px;
}
#label31{
    margin-left: 42px;
    padding-right: 5px;
    padding-left: 1px;
    padding-bottom: 72px;
}
#label32{
     padding-left: 60px;
    margin-left: 90px;
}
#label33{  
             margin-right: -21px;
    margin-left: -61px;
    width: 98px;
	}
#label34{  
             margin-left: 33px;
    margin-right: -9px;
	}
#label35{  
    margin-left: 40px;
    margin-right: -20px;
	}
#label36{  
       width: 146px;
    margin-right: -18px;
    margin-left: -13px;
	}
#label37{  
    margin-left: 190px;
    margin-right: -99px;
	}
#label38{
    margin-left: 229px;
    margin-right: -21px;
}
#label39{
         width: 113px;
    margin-left: -77px;
	margin-right:-21px;
}
#label40{
    margin-left: 321px;
    padding-right: 0px;
    padding-left: 110px;
    width: 201px;
    margin-right: -17px;
	}
	
#label41{
        width: 146px;
    margin-right: -31px;
    margin-left: 1px;
	}
#label42{
          margin-left: 181px;
    margin-right: -90px;
	}
#label43{
         width: 119px;
    padding-left: 10px;
    margin-left: 35px;
    margin-right: -14px;
	}
#label44{
    width: 113px;
    margin-left: -72px;
    margin-right: -26px;
	}
#label45{
    margin-left: 21px;
    margin-right: -54px;
	    width: 146px;
	}
#label46{
    margin-left: 190px;
    margin-right: -97px;
	}
#label47{
      margin-left: 127px;
    padding-right: 0px;
    padding-left: 110px;
    width: 201px;
    margin-right: -23px;
	}
#label48{
          margin-left: 82px;
    padding-right: 0px;
    padding-left: 110px;
    width: 201px;
    margin-right: 0px;
	}
	
	#label49 {
    margin-left: 222px;
    margin-right: -21px;
}
	#label50 {
     margin-left: -99px;
    padding-right: 0px;
    padding-left: 110px;
    width: 244px;
    margin-right: -23px;
}
	#label51 {
     margin-left: 96px;
    padding-right: 0px;
    padding-left: 110px;
    width: 244px;
    margin-right: -66px;
}
	#label52 {
     margin-left: 27px;
    margin-right: -59px;
    width: 146px;
}
	#label53 {    
	margin-left: -12px;
    margin-right: -59px;
    width: 192px;
}
	#label54 { 
       margin-left: 207px;
    margin-right: -28px;
}

#label55{
          margin-left: 69px;
    padding-right: 0px;
    padding-left: 110px;
    width: 201px;
    margin-right: 0px;
	}
	
#label56{
    margin-left: 236px;
    margin-right: -21px;
}
    

#label57 {
    margin-left: 41px;
    margin-right: -21px;
}
#label58 {
        margin-left: 199px;
    margin-right: -21px;
	}

#label59 {
    margin-left: 201px;
    padding-left: 1px;
    margin-right: -16px;
	
}

    
#label60 {
    padding-left: 152px;
	width: 289px;
    margin-right: -34px;
}


#label61 {
    width: 146px;
	margin-right: -34px;
    margin-left: 5px;
}
#label62 {
margin-left: 139px;
    margin-right: -76px;
}


#label63 {
    margin-left: 229px;
    margin-right: -21px;
    margin-left: 9px;
    width: 163px;
}

#label64 {
    margin-right: 6px;
    margin-left: 22px;
    width: 150px;
    margin-bottom: 134px;
	}

	  
#label65 {
    padding-right: 5px;
    padding-left: 1px;
    margin-right: -58px;
    margin-left: 50px;
}
 
#label66 {
width: 134px;
    margin-right: -25px;
margin-left: 273px;
}
   
#label67 {
    padding-left: 1px;
    padding-bottom: 72px;
    margin-right: -16px;
    margin-left: -9px;
}  
#label68 {
     width: 146px;
    margin-right: -46px;
    margin-left: 18px;
}
#label2_1{
    margin-right: -16px;
	}
#label2_2{
        margin-right: -16px;	
	}
#label2_3{
            margin-left: 39px;
    margin-right: -16px;	
	}
#label2_4 {
    margin-right: -27px;
    margin-left: 41px;
}

#text1{
width:97px;
margin-left:-20px;
}
#text2{
margin-left:-20px;	
}
#text3{
margin-left:15px;	
}
#text4{
    margin-left: -2px;	
}
#text5{
    margin-left: -16px;
    width: 261px;
}
#text6{
margin-left:-22px;
}
#text7{
    margin-left: -8px;
    width: 261px;
}
#text8{
margin-left: 34px;	
}
#text9{
    margin-left: 58px;
}
#text10{
    margin-left: -23px;
    margin-bottom: 180px;
}

#text11{
width: 261px;
}
#text12{
width: 261px;
margin-left: -6px;
}
#text14{
       margin-left: -23px;
    margin-bottom: 15px;
}
#text15{
margin-left:-8px;
}
#text16{
margin-left: 11px;	
}
#text17{
      margin-left: 52px;
    color: #555;
    background-color: #fbfbfb;
}
#text18{
    margin-left: -23px;
    margin-bottom: 22px;}

#text19{
    margin-left: -23px;
    margin-bottom: 92px;
	}
#text20{
    margin-left: 0px;
    width: 258px;
	}
#text21 {
    margin-left: -23px;
    margin-bottom: 94px;
}
#text22 {
    margin-left: -8px;
    width: 262px;
}
#text23 {
    margin-left: -25px;
}



#form-grp1{
    margin-top: 15px;
}

#nav-id1{
color:red;
}
#color1 {
    color: #999;
    white-space: nowrap;
}

body {
    position: relative;
    overflow-x: hidden;
}
body,

html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color:#fcf8e3;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li.open a:hover{
    color: black;
    text-decoration: none;
    background-color:red;
}

#nav-id1 li a:hover,
#nav-id1 li a.open:hover,
#nav-id1 li a.open:focus{
    color: black;
    text-decoration: none;
    background-color:red;
}
#nav-id1 .open>a, #nav-id1 .open>a:focus, #nav-id1.open>a:hover {
    background-color: #F30909;
    border-color: #337ab7;
}


.sidebar-nav .dropdown a:hover,
.sidebar-nav .dropdown ul li a:hover{
    color: black;
    text-decoration: none;
    background-color:#EEEEEE;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
	color:#ddd;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    position: fixed;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}


.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fcf8e3;
    white-space: nowrap;
}

.search-glyfi{
    padding-left: 38px;
}
