#header .search{
  display: inline-block;
}
.navbar>.container .navbar-brand{
  margin-left: 0px;
  
}
.navbar-header{
  width:56%;
}
.navbar-brand {
  padding: 0;
  margin:0;
}
.navbar {
   border-bottom: 5px solid #c52d2f;
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 1px 0;
  padding-bottom: 0;
}
 .navbar-nav{
  margin-top: 5px;
  float:left;
  display: inline-block;
      width: 120%;
 }
 .navbar-nav>li{
  
  padding-bottom: 28px;

}

.navbar-collapse{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-inverse .navbar-nav > li > a {

  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
    border-bottom: 5px solid #c52d2f;
    margin-bottom: 21px;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
  text-align: left;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
  width: 100%;
  font-size:small;
}
#display{
  float:right;
  width:60px;
   border: 2px solid;
    border-radius: 25px;

}
#bottom .widget {
  margin-bottom: 0;
}
.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.widget {
  margin-bottom: 60px;
  padding-left: 0;
  color:white;
}
#widgets{
  float:right;
  padding-top: 30px;
}

#logo2{
  height:55px;
  width:100%;  
}

#logo1 {
    height: 60px;
    padding-right: 20px;
    float:left;
}

.navbar > .container{
  width:100%;
  padding-right: 4%;
  padding-left: 4%;
  height:-1px;
  background-color: initial;
  margin-bottom: 0px;
  }

  .midnight-blue > .container{
  width:100%;
  padding-right: 4%;
  padding-left: 4%;
  height:-1px;
  background-color: initial;
  margin-bottom: 0px;
  }

  #leftones {
    float: left;
    width: 29%;
}
#welcome {
    width: 55%;
    text-align: left;
    display: inline-block;
    float: left;
    margin-top: -14px;
    padding-left: 18px;
} 
#personal {
    float: right;
}

#mcfadyen {
    width: 100%;
    float: left;
    height: 75px;
}

.widget-label
{
    color: white;
    margin-left: 5%;
    font-weight: 500;
}


#footer {
    padding-top: 7px;
    padding-bottom: 0px;
    color: #fff;
    background: #2e2e2e;
    margin-top: -13px;
    margin-bottom: 0px;
    bottom: 0;
    font-size: 12.5px;
    width: 100%;
}


#footer a {
    color: #fff;
}

a {
    transition: color 300ms, background-color 300ms;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer ul > li {
    display: inline-block;
    margin-left: 15px;
}

#footer a {
    color: #fff;
}