input[type="checkbox"]{
line-height: normal;
margin: 4px 10px 0px;
}


.profile-photo
{
	position:relative;
	min-height:1px;
	padding-left:0px;
	padding-top:15px;
	padding-bottom:30px;
}
.form-heading
{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	margin:0px;
}
.form-entire
{
	padding-top:20px;
	padding-left:0px;
}
.form-group 
{
	padding-left:10px;
	padding-bottom: 8px;
  margin-bottom: 10px;
  
  
}
input.file {
	position: relative;
	text-align: right;
	opacity: 0;
}

#btn2 {
	float:right;
	font-size: 30px;
	text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  background: #E01F27;
  display: block;
  margin: 15px;
  width: 100px;
  color: white;
  font-size: 18px;
  height: 40px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#expandAll{
	padding: 0px;
}
.multi-line-form
{
	padding-top: 20px;
	padding-bottom: 20px;
}
#btn1
{
	font-size: 30px;
	text-decoration: none;
}
a:hover
{
	cursor:pointer;
}
#remove-button
{
	text-align: center;
}
.remove-field
{
	text-align: center;
	padding-left: 20px;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.profile-photo input {
 filter: alpha(opacity=0);
 opacity: 0;
}
.add-photo-btn{ 
  cursor:pointer;
  text-align:center;
  background-color:#E01F27;
  color:#fff;display:block;
  width:160px;
  height:31px;
  border-radius: 10px;
  line-height:30px;
  float:left;
  margin-top: 3px;
}
.required .control-label:after {
  content:"*";
  color:red;
}
.form-group input[type="text"], .form-group input[type="date"], .form-group textarea,.form-group select{
  color: #555;
  padding: 3px 0px 3px 5px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  line-height:15px;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.panel
{
	padding-right: 20px;
}
.photos
{
	padding-left: 120px;
}
.panel-heading
{   margin-right:-20px;
	margin-bottom: 0px;
}
.panel-default>.panel-heading {
  color: white;
  background-color: #707070 ;
  border-color: #ddd;
}
.panel-heading.clearfix{
	color: white;
  background-color: #707070 ;
}
.dropdown-custom
{
  margin-top: 10px;
  text-align: center;
}
.dropdown-text
{
  margin-top:7px;
}
.panel-heading.clearfix.quickfix1{
  color: white;
  background-color: #707070 ;
  margin-left:-15px;
}
.panel-heading.clearfix.quickfix2{
  color: white;
  background-color: #707070 ;
  margin-left:-15px;
}
.panel-heading.clearfix.quickfix3{
  margin-left:-10px;
  margin-right:-5px;
}
.panel-heading.clearfix.quickfix3.noc-heading{
  margin-left:-25px;
  margin-right:-20px;
}

.add_field_button.previous-employer
{
  height:40px;
  width:120px;
}
.add-button
{
  padding-left: 490px;   
}
.panel-heading.clearfix.quickfix4{
  color: white;
  background-color: #707070 ;
  margin-left:-25px;
  padding-right: 5px;
  margin-right: 10px;
  padding-left: 50px;
}
#select-location
{
  position: relative;
  z-index: 2;
  float: left;
  width: 30%;
  margin-bottom: 0;
  height:36px;
  border-radius: 4px;
}
#submit-button
{
  position: fixed;
  margin-top: 850px;
}
#choose-file
{
  padding-top: 7px;
}
.upload-file input {
 filter: alpha(opacity=0);
 opacity: 0;
}
.add-upload-button
{
  cursor:pointer;
  text-align:center;
  background-color:#E01F27;
  color:#fff;display:block;
  width:100px;
  height:31px;
  border-radius: 10px;
  line-height:30px;
  margin-top: 3px;
  margin-left: 30px;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
.popup {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background: #fff;
  width: 700px;
  height: 700px;
  margin-left: 0px; /*Half the value of width to center div*/
  margin-top: -200px; /*Half the value of height to center div*/
  z-index: 200;
}
.popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
  width: 700px;
  height: 700px
}
.preview {
  cursor: pointer;
}

.paperclip
{
  padding-top: 25px;
}
.col-sm-4.custom{
	width:45%;
	
}
.col-sm-6.custom{
	width:150%;
	
}
.col-sm-4.custom1{
padding-top: 8px;
  padding-bottom: 30px;
	
}
.col-sm-8.custom{
	padding-left:0px;
	padding-right:4px;
	
}
.button_search{
	padding-left:70px;
}
#track_table{
	visibility:hidden;
}
.col-sm-6.custom-noc{
	padding-right:10px;
	padding-left:60px;
}

#noc{
	  height: 20px;
	  padding:0px;
	  width:65px;
}
.tick{
	visibility:hidden;
	color:green;
}
p{
	display:inline;
}
.noc_custom{
	padding-top:20px;
}
.btn-table{
	border-color:#E01F27;
	
	
}
.form-group.custom{
	padding-top:10px;
}
.box{
	display:none;
}
.glyphicon-arrow-right.arrow{
	line-height:2.6;
}
.pre.custom{
	padding:0px;
	height:20px;
	 white-space: -moz-pre-wrap !important;
}
.commentbox{
	font-family: sans-serif;
    font-size: 2.1em;
}
.noti{
	display:none;
}
.reject,.pending{
	display:none;
}
#pending,#approve,#rejected{
	display:none;
}
.btn.commentIcon{
	border: 0px solid;
	padding:0px 0px;
	padding-right:1px;
	padding-right:1px;
	
}
.btn-success.comment{
	background-color:#f5f5f5;
}
.boxchild{
	margin: 4px 5px 0px;
}
.overlay-content.commentpopup{
	height:110%;
}