#header .search{
  display: inline-block;
}
.navbar>.container .navbar-brand{
  margin-left: 0px;
  
}
.navbar-header{
  width:56%;
}
.navbar-brand {
  padding: 0;
  margin:0;
}
.navbar {
   border-bottom: 5px solid #c52d2f;
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 1px 0;
  padding-bottom: 0;
}
 .navbar-nav{
  margin-top: 5px;
  float:left;
  display: inline-block;
      width: 120%;
 }
 .navbar-nav>li{
  
  padding-bottom: 6px;

}
.navbar navbar-inverse .nav navbar-nav .dropdown  li  a:hover {
padding-bottom: 6px;
}
.navbar-collapse{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-inverse .navbar-nav > li > a {

  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #c52d2f;
  color: #fff;
  padding-bottom: 6px;
}

.navbar-inverse {
   border-bottom: 5px solid #c52d2f;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
  text-align: left;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
  width: 100%;
  font-size:small;
}
#display{
  float:right;
  width:17%;
   border: 2px solid;
    border-radius: 25px;

}
#bottom .widget {
  margin-bottom: 0;
}
.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.widget {
  margin-bottom: 60px;
  padding-left: 0;
  color:white;
}
#widgets{
  float:right;
  padding-top: 30px;
}

#logo2{
  height:55px;
  width:100%;  
}

#logo1 {
    height: 60px;
    padding-right: 20px;
   
}
img
{
  float:left;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#righttabs{

  
  float:right;
  text-align:right;
  width:20%;
  height:20px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

a {
    color: #1e7ad3;
    text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -2px;
    margin-right: 2px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

button {
  
padding: 4px;
  border-radius:7px;
  border:0px;
  background: #5d5d81;
  display: block;
  margin: 5px;
  width: 60px;  
  color:white;
  font-size:16px;
  height: 26px;
  text-align: center;



  /*height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;*/
}

.navbar > .container{
  width:100%;
  padding-right: 4%;
  padding-left: 4%;
  height:-1px;
  background-color: initial;
  margin-bottom: 0px;
  }

  .midnight-blue > .container{
  width:100%;
  padding-right: 4%;
  padding-left: 4%;
  height:-1px;
  background-color: initial;
  margin-bottom: 0px;
  }

  #leftones {
    float: left;
    width: 45%;
}
#welcome {
    width: 55%;
    text-align: left;
    display: inline-block;
    float: left;
    margin-top: -14px;
    padding-left: 18px;
} 
#personal {
    float: right;
}

#mcfadyen {
    width: 100%;
    float: left;
    height: 75px;
}

.widget-label
{
    color: white;
    margin-left: 5%;
    font-weight: 500;
}

#footer {
    padding-top: 7px;
    padding-bottom: 0px;
    color: #fff;
    background: #2e2e2e;
    height: 3%;
    margin-top: -13px;
    margin-bottom: 0px;
     position: relative;
    left: 0;
    bottom: 0;
   
    width: 100%;
    overflow:hidden;
    
}

#footer a {
    color: #fff;
}

a {
    transition: color 300ms, background-color 300ms;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer ul > li {
    display: inline-block;
    margin-left: 15px;
}

#footer a {
    color: #fff;
}