.profile-photo
{
	position:relative;
	min-height:1px;
	padding-left:0px;
	padding-top:15px;
	padding-bottom:30px;
}
.form-heading
{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	margin:0px;
}
.form-entire
{
	padding-top:20px;
	padding-left:0px;
}
.subLabel{
	padding-top:8px;
}
.form-group 
{
	padding-left:10px;
	padding-bottom: 8px;
  margin-bottom: 10px;
}
input.file {
	position: relative;
	text-align: right;
	opacity: 0;
}

#btn2 {
	float:right;
	font-size: 30px;
	text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  background: #E01F27;
  display: block;
  margin: 15px;
  width: 100px;
  color: white;
  font-size: 18px;
  height: 40px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.multi-line-form
{
	padding-top: 20px;
	padding-bottom: 20px;
}
#btn1
{
	font-size: 30px;
	text-decoration: none;
}
a:hover
{
	cursor:pointer;
}
#remove-button
{
	text-align: center;
}
.remove-field
{
	text-align: center;
	padding-left: 5px;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.profile-photo input {
 filter: alpha(opacity=0);
 opacity: 0;
}
.add-photo-btn{ 
  cursor:pointer;
  text-align:center;
  background-color:#E01F27;
  color:#fff;display:block;
  width:160px;
  height:31px;
  border-radius: 10px;
  line-height:30px;
  float:left;
  margin-top: 3px;
}
.required .control-label:after {
  content:"*";
  color:red;
}
.form-group input[type="text"], .form-group input[type="date"], .form-group input[type="email"] .form-group textarea,.form-group select{
  color: #555;
  padding: 3px 0px 3px 5px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  line-height:15px;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.panel
{
	padding-right: 20px;
}
.photos
{
	padding-left: 120px;
}
.panel-heading
{   margin-right:-20px;
	margin-bottom: 20px;
}
.panel-default>.panel-heading {
  color: white;
  background-color: #707070 ;
  border-color: #ddd;
}
.panel-heading.clearfix{
	color: white;
  background-color: #707070 ;
}
.dropdown-custom
{
  margin-top: 10px;
  text-align: center;
}
.dropdown-text
{
  margin-top:7px;
}
.panel-heading.clearfix.quickfix1{
  color: white;
  background-color: #707070 ;
  margin-left:-15px;
}
.panel-heading.clearfix.quickfix2{
  color: white;
  background-color: #707070 ;
  margin-left:-15px;
}
.panel-heading.clearfix.quickfix3{
  margin-left:-10px;
  margin-right:-5px;
}

.add_field_button.previous-employer
{
  height:60px;
  width:120px;
}
.add-button
{
  padding-left: 490px;   
}
.panel-heading.clearfix.quickfix4{
  color: white;
  background-color: #707070 ;
  margin-left:-25px;
  padding-right: 5px;
  margin-right: 10px;
  padding-left: 50px;
}
#select-location
{
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height:36px;
  border-radius: 4px;
}
#submit-button
{
  position: fixed;
  margin-top: 750px;
  height: 70px;
  margin-bottom:50px;
}
#choose-file
{
  padding-top: 7px;
}
.add-upload-button
{
  cursor:pointer;
  text-align:center;
  background-color:#E01F27;
  color:#fff;display:block;
  width:100px;
  height:31px;
  border-radius: 10px;
  line-height:30px;
  margin-top: 3px;
  margin-left: 30px;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
.popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  background: #fff;
  width: 700px;
  height: 700px;
  margin-left: 0px; /*Half the value of width to center div*/
  margin-top: -200px; /*Half the value of height to center div*/
  z-index: 200;
}
.popupclose {
  float: right;
  padding-right: 25px;
  padding-top: 15px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
  width: 700px;
  height: 700px
}
.preview{
  cursor: pointer;
}

.paperclip
{
  padding-top: 25px;
}

.remove-certificate
{
    cursor: pointer;
    margin-left: 15px;
}

.dropdown-fix
{
  margin-top: -7px;
}

.glyphicon.glyphicon-minus
{
  color: #E01F27;
  padding-top: 13px;
}
#spacefix1
{
  margin-left: 0px;
}
.upload-file input {
 filter: alpha(opacity=0);
 opacity: 0;
}

.spacefix2
{
  margin-left: -60px;
}

.popup-certificate {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  background: #fff;
  width: 700px;
  height: 700px;
  margin-left: 0px; /*Half the value of width to center div*/
  margin-top: -200px; /*Half the value of height to center div*/
  z-index: 200;
}

.certificate-preview {
  cursor : pointer;
  margin-top: -4px;
}
.add_field_button.previous-employer {
  height:40px;
  width:180px;
}
.removing-cross
{
  float:right;
  cursor:pointer;
}

.quickfix5 {
    padding-left: 0px;
}
.glyphicon.glyphicon-paperclip.paperclip-fix {
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 0px;
    height: 0px;
    padding-top: 8px;
}
.col-sm-2.upload-div {
    height: 0px;
}
input.form-control.paperclip-input
{
  height:0px;
}
.add-preview-button
{
    cursor: pointer;
    text-align: center;
    background-color: #E01F27;
    color: #fff;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    line-height: 0px;
    margin-top: 0px;
}
    .quickfix6
    {
          margin-top: -25px;
    }

    .col-sm-1.upload-div {
    height: 0px;
}

.certificate-paperclip
{
  font-size: 20px;
  padding-left: 20px;
}
.col-sm-1.upload-div {
    height: 0px; 
}
.upload-file.quickfix7 {
    margin-left: -60px;
    width: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
}
.cell-contails-text
{
  width:200px;
  text-align: left;
  padding: 10px;
}
table
{
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
}
.question-text-group
{
margin-top:15px;
margin-bottom: 15px;
margin-right: 10px;
margin-left: 5px;
}

.question-text-field
{
margin-left:15px ;
}

.cell-text-field
{
    padding-left: 10px;
    padding-right: 10px;
}
.radio-spacing
{
  padding-left: 50px;
}

caption{
  text-align: center;
  font-size: 17px;
  color: white;
  background-color:#707070;
  border: 1px solid black;
  border-bottom: none;
}
input[type="radio"][class="fancy-radiobutton"]:checked {
    -webkit-appearance: searchfield-cancel-button;
    -moz-appearance: checkbox; 
    opacity:1;
    font-size: 19px;
}

input[type="radio"][class="fancy-radiobutton"] {
  opacity:0;
}

.message-box {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  background: #fff;
  width: 400px;
  height: 250px;
  margin-left: 0px; /*Half the value of width to center div*/
  margin-top: -200px; /*Half the value of height to center div*/
  z-index: 200;

  
}

.comment-content {
    margin-top: 25px;
    margin-left: 35px;
    font-size: 30px;
}

.ui-button-text
{
  font-size:10px;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    width: 50px;
    height: 30px;
}
.hide{
  display:none;
}
.comment-box-button {
font-size:45px;
position:fixed;
top:10%;
margin-left:20px;
}

.message-box{
font-size:16px;
}

.message-box p{
  font-size:18px;
 text-align:center;
 padding-right:35px;
}

.message-box textarea{
  font-size:20px;
}

.form-control
{
  float:left;
}

#select-location
{
  float:left;
}
.small-text-cell
{
  text-align: left;
  padding-left: 20px;
}

.submit-space
{
	margin-bottom:60px;
}
.popupclose-cert {
  float: right;
  padding-right: 25px;
  padding-top: 15px;
  cursor: pointer;
}

.exit-heading
{
	margin-top:20px;
}

.quickfix-certi
{
	margin-left: 5px;
    margin-right: -5px;
}
.spacefix-certi
{
	margin-left:-48px;
}
.quickfix-dropdown-comment-box
{
	margin-left: 10px;
	margin-bottom:100px;
}
#quickfix-address-heading
{
	margin-left: -25px;
	margin-right: -5px;
}
.panel-sub-group
{
	margin-left: 5%;
	margin-right: 4%;
}
.panel-sub-heading
{
	font-size: 15px;
}
.pages
{
	font-size:30px;
}
.arrows
{
	color:#E01F27;
	padding-top:19px;
}
.page-number
{
	padding-top: 13px;
}

