.profile-photo
{
	position:relative;
	min-height:1px;
	padding-left:0px;
	padding-top:15px;
	padding-bottom:30px;
}
.form-heading
{
	text-align:center;
	padding-bottom:0px;
	padding-top:0px;
	margin:0px;
}
.form-entire
{
	padding-top:20px;
	padding-left:0px;
}
.form-group 
{
	padding-left:10px;
	padding-bottom: 8px;
}


input.file {
	position: relative;
	text-align: right;
	opacity: 0;
}

#btn2 {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: red;
    margin-left: 41%;

}

button {
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
    margin: 15px;
    width: 100px;
    color: white;
    font-size: 18px;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.multi-line-form
{
	padding-top: 20px;
	padding-bottom: 20px;

}
#btn1
{
	font-size: 30px;
	text-decoration: none;
	color:red;
	background-color:red;
}
a:hover
{
	cursor:pointer;
}

#remove-button
{
	text-align: center;
}
.remove-field
{
	text-align: center;
	padding-left: 20px;
	font-size: 30px;
}
.add-button
{
	padding-left: 485px;
	
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.profile-photo input {
   filter: alpha(opacity=0);
   opacity: 0;
}

.add-photo-btn{

   
    cursor:pointer;
    text-align:center;
    background-color:#E01F27;
    color:#fff;display:block;
    width:160px;
    height:31px;
    border-radius: 10px;
    line-height:30px;
    float:left;
    margin-top: 3px;

}
.required .control-label:after {
  content:"*";
  color:red;
}
.form-group input[type="text"], .form-group input[type="date"], .form-group textarea,.form-group select{
    color: #555;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;

	line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.panel
{
	padding-right: 20px;
}
.photos
{
	padding-left: 120px;
}
.panel-heading
{
	margin-bottom: 20px;
}
.panel-default>.panel-heading {
    color: white;
    background-color: #707070 ;
    border-color: #ddd;
}
.panel-default {
    border-color: #ddd;
    left: 4%;
}
.panel-heading.clearfix{
	color: white;
    background-color: #707070 ;
}
.upload-file1{
	margin-left:-49px;
}

.add-upload-button
{
  cursor:pointer;
  text-align:center;
  background-color:#E01F27;
  color:#fff;display:block;
  width:100px;
  height:31px;
  border-radius: 10px;
  line-height:30px;
  margin-top: 3px;
  margin-left: 30px;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
.popup {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background: #fff;
  width: 700px;
  height: 700px;
  margin-left: 0px; /*Half the value of width to center div*/
  margin-top: -200px; /*Half the value of height to center div*/
  z-index: 200;
}
.popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
  width: 700px;
  height: 700px
}
.fileop{

opacity:0;
}

#visa_toggle{

}

#label1{
    margin-left: -92px;
    margin-right: -23px;
}
#file-text{
	    left: 10%;
    width: 95%;
}
#file-text1{
    margin-left: -94px;
}
#previewbt{

}
#glyfid{
margin-left: 131px;
}
#glyfid1{
    margin-left: 120px;
}
#glyfid2{
    margin-left: 244px;
}
#visa-text1{
    width: 126%;
}
#visa-text2{
    width: 150px;
    margin-left: -23px;
}
#countlab{
   
}
#countries{
    width: 126%;
}
#countries2{
    width: 150px;
	margin-left: -23px;
}
#dexp{
    width: 137px;
    margin-left: 84px;
}
#Dexpiry{
    width: 236px;
}
#Dexpiry3{
    width: 126%;
}
#Dexpiry2{
    width: 141px;
	margin-left:-23px;
}
#glyc2_3{
    width: 141px;
    margin-left: 124px;
}
#glyc2_4{
    margin-left: 246px;
}
#botton {
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
    margin: 15px;
    width: 100px;
    color: white;
    font-size: 18px;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin-top:1px;
	    padding-top: 8px;
	}
#button2 {
      padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
    margin: 15px;
    width: 79%;
    color: white;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 2%;
    padding-top: 5%;
	}
#button3 {
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    background: #E01F27;
    display: block;
    margin: 15px;
    width: 100px;
    color: white;
    font-size: 18px;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin-top:1px;
	    padding-top: 8px;
		    margin-left: 149px;
	}
	
	#graficon2{
       font-size: 21px;
    padding-top: 5%;
    position: absolute;
    left: 84%;
	}
	#graficon1{
	    margin-left: 85px;
    font-size: 21px;
    padding-top: 4px;
	}
	#graficon3{
    margin-left: -7px;
    font-size: 21px;
    padding-top: 4px;
	}
	
	#button1_1 {
	height:52px;
	color:white;
	}
	#button1 {
	height:52px;
	color:white;
	width: 26%;
	}
	#visa_toggle{
	visibility:hidden;
	}
	#panel-head{
	    margin-left: -24px;
	}
	.glyficon4{
	    position: absolute !important;

	}
	
	#glyfic6{
    margin-left: -13px;
        margin-top: 85px;
	}
	#glyfic7{
    margin-left: -62px;
    margin-top: 82px;
	}
	#labeldexp{
	    margin-left: 24px;
	}
	.glyfic6{
    margin-left: -6px;
	}
	.glyficon5{
	    position: absolute !important;
    margin-left: -19px;
	    margin-top: 87px;
		    margin-left: -11px;
	}
.message-box {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    background: #fff;
    width: 400px;
    height: 250px;
    margin-left: 0px;
    margin-top: -200px;
    z-index: 200;
}
.comment-content
{
  margin: 28px;
}

.comment-content > p
{

}

.ui-button-text
{font-size:10px;}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    width: 50px;
    height: 30px;
}
.hide{display:none;}
.comment-box-button{font-size:12px;
position:absolute;
margin-left: -20px}
.message-box{font-size:16px;}
.message-box p {
    font-size: 18px;
    text-align: center;
    padding-right: 35px;
}
.message-box textarea {
    font-size: 20px;
}
#passport-panel{
    margin-left: 2px;; margin: -1px;
}

#visa-panel{
    color: white;
    background-color: #707070;
    margin-left: -10px;
}
.country1{
display:none;
}


.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	}
	#gyfic3{
    margin-top: -1px;
    margin-left: 86px;
	}
	#gyfic4{
    margin-left: -5px;
	}
	.glyphicon-remove{
	margin-right: 16px;
	}
	
	.page-width{
	width:100%;
	}
	#width-exp{
	    width: 147px;
	}
	.relative{
	position: relative;
	}
	.absolute{
	position: absolute;
	}
	.width-col-sm{
	width:4% !important;
	}
	.date_of_expiry{
	padding-left: 0% !important;
	}
	#width-col-sm1{
	width:6%;
	}
	#width-col-sm2{
	width:39.6%;
	}
	.right{
	right: 0%
	}
	.left100{
	left: 100%}
	.padding-right0{
	padding-right:0% !important;
	}
	#date-expiry{
	width: 12%;
	}
	.right0{
	right:0%;
	}