.col-sm-3.reimbursement{
	padding-right:70px;
	
}
.form-control.text{
	width:137px;
}
.col-sm-4.reimbursement1{
	padding-right:300px;
	
}
.left {
    width: 100%;
   
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}
.right {
	 width: 100%;
 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-align: right;
}
.glyphicon.icon{
	top:9px;
	
}
.glyphicon.editIcon{
	top:-24px;
	padding-left:10px;
}

.glyphicon.paperclip{
	text-align:center;
	
	top:-17px;
}
.buttonReimbursement{
	padding:0px;
	margin:0px;
	height:35px;
	
}