#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
.popup {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background: #fff;
  width: 700px;
  height: 700px;
  margin-left: -100px; /*Half the value of width to center div*/
  margin-top: -100px; /*Half the value of height to center div*/
  z-index: 200;
}
.popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontent {
  padding: 10px;
 width: 700px;
  height: 700px
}
#button {
  cursor: pointer;
}