
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						&copy; 2015 <a target="_blank" href="http://shapebootstrap.net/"
							title="Free Twitter Bootstrap WordPress Themes and HTML templates">McFadyen
							Consulting Solutions</a>. All Rights Reserved.
					</div>
					<div class="col-sm-6">
						<ul class="pull-right">
							<li><a href="#">Help</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Faq</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>

		